<?xml version="1.0" encoding="utf-8" ?>
<config>
    <modules>
        <Zx_Pos>
            <version>1.0.0</version>
        </Zx_Pos>
    </modules>
    <global>
        <models>
            <pos>
                <class>Zx_Pos_Model</class>
            </pos>
        </models>
        <blocks>
            <pos>
                <class>Zx_Pos_Block</class>
            </pos>
            <page>
                <rewrite>
                    <html_head>Zx_Pos_Block_Override_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
    <frontend>
        <routers>
            <zx_pos>
                <use>standard</use>
                <args>
                    <module>Zx_Pos</module>
                    <frontName>pos</frontName>
                </args>
            </zx_pos>
        </routers>
        <layout>
            <updates>
                <zx_pos>
                    <file>zx/pos.xml</file>
                </zx_pos>
            </updates>
        </layout>
        <translate>
            <modules>
                <zx_pos>
                    <files>
                        <default>Zx_Pos.csv</default>
                    </files>
                </zx_pos>
            </modules>
        </translate>
    </frontend>
</config>